<div>
    <!-- primeng data table for Trade with TradeId, Buyer, Seller, Amount, Currency -->
    
    <p-table [value]="trades" [paginator]="true" [rows]="10" [responsive]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [style]="{width: '100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="tradeId">TradeId</th>
                <!-- <th pSortableColumn="transaction">TransactionType</th> -->
                <th pSortableColumn="buyer">Buyer</th>
                <th pSortableColumn="seller">Seller</th>
                <th pSortableColumn="amount">Notional Amount</th>
                <!-- <th pSortableColumn="tradeDate">TradeDate</th> -->
                <th pSortableColumn="currency">Currency</th>
                <!-- <th pSortableColumn="status">Status</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trade>
            <tr>
                <td>{{trade.tradeId}}</td>
                <!-- <td>{{trade.transaction}}</td> -->
                <td>{{trade.buyer}}</td>
                <td>{{trade.seller}}</td>
                <td>{{trade.amount}}</td>
                <!-- <td>{{trade.tradeDate}}</td> -->
                <td>{{trade.currency}}</td>
                <!-- <td>{{trade.status}}</td> -->
            </tr>
        </ng-template>
    </p-table>    
</div>
